body {
  background-color: #ff7891;
  overflow-x: hidden;
}

/*xxs*/
@media (min-width: 360px) {
  .title {
    text-align: center;
    margin-top: 210px;
  }
  .title #subtitle {
    margin-top: -50px;
    margin-bottom: 0;
    color: var(--Text, #fbf9f9);

    /* TextShadow */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: "Pacifico";
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.001%; /* 62.081px */
  }

  #underSub {
    margin-top: 0;
    color: var(--Text, #fbf9f9);
    text-align: center;

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Source Sans 3";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .userName {
    margin-top: 60px;
    text-align: center;
  }

  input {
    font-size: 16px;
    color: #ff7891;
    font-family: "Pacifico";
    text-align: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
    position: relative;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 250px;
    height: 38px;
    box-sizing: border-box;
    padding: 0 18px;
  }

  input::-webkit-input-placeholder {
    color: rgba(255, 120, 145, 0.75);
  }

  #enterLink {
    margin-top: 0px;
    color: var(--Text, #fbf9f9);
    text-align: center;
    font-family: "Pacifico";
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 97.001%; /* 15.52px */
    text-decoration-line: underline;
  }

  .elements {
    pointer-events: none;
    text-align: center;
  }
  .elements .Flowers1 {
    pointer-events: none;
    position: absolute;
    margin-top: -430px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .elements .Flowers2 {
    pointer-events: none;
    position: absolute;
    margin-top: -80px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .elements .Cloud1 {
    pointer-events: none;
    position: absolute;
    margin-top: -30px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .elements .Cloud2 {
    pointer-events: none;
    position: absolute;
    margin-top: -25px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .footer .footertext {
    color: var(--Text, #fbf9f9);
    text-align: center;
    margin-top: 500px;
    margin-bottom: 0;

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Source Sans 3";
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }
}

/*xs*/
@media (min-width: 457px) {
  .title {
    text-align: center;
    margin-top: 210px;
  }
  .title #subtitle {
    margin-bottom: 0;
    color: var(--Text, #fbf9f9);

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Pacifico";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.001%; /* 62.081px */
  }

  #underSub {
    margin-top: 0;
    color: var(--Text, #fbf9f9);
    text-align: center;

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Source Sans 3";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .userName {
    margin-top: 60px;
    text-align: center;
  }

  input {
    font-size: 18px;
    color: #ff7891;
    font-family: "Pacifico";
    text-align: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
    position: relative;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 18px;
  }

  input::-webkit-input-placeholder {
    color: rgba(255, 120, 145, 0.75);
  }

  #enterLink {
    color: var(--Text, #fbf9f9);
    text-align: center;
    font-family: "Pacifico";
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 97.001%; /* 15.52px */
    text-decoration-line: underline;
  }

  .elements {
    pointer-events: none;
    text-align: center;
  }
  .elements .Flowers1 {
    pointer-events: none;
    position: absolute;
    margin-top: -460px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .elements .Flowers2 {
    pointer-events: none;
    position: absolute;
    margin-top: -100px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .elements .Cloud1 {
    pointer-events: none;
    position: absolute;
    margin-top: -15px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .elements .Cloud2 {
    pointer-events: none;
    position: absolute;
    margin-top: -10px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .footer .footertext {
    color: var(--Text, #fbf9f9);
    text-align: center;
    margin-top: 700px;
    margin-bottom: 0;

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Source Sans 3";
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }
}

/*sm*/
@media (min-width: 640px) {
  .title {
    text-align: center;
    margin-top: 250px;
  }
  .title #subtitle {
    margin-bottom: 0;
    color: var(--Text, #fbf9f9);

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Pacifico";
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 97.001%; /* 62.081px */
  }

  #underSub {
    margin-top: 0;
    color: var(--Text, #fbf9f9);
    text-align: center;

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Source Sans 3";
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .userName {
    margin-top: 60px;
    text-align: center;
  }

  input {
    font-size: 20px;
    color: #ff7891;
    font-family: "Pacifico";
    text-align: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
    position: relative;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 380px;
    height: 42px;
    box-sizing: border-box;
    padding: 0 18px;
  }

  input::-webkit-input-placeholder {
    color: rgba(255, 120, 145, 0.75);
  }

  #enterLink {
    color: var(--Text, #fbf9f9);
    text-align: center;
    font-family: "Pacifico";
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 97.001%; /* 15.52px */
    text-decoration-line: underline;
  }

  .elements {
    pointer-events: none;
    text-align: center;
  }

  .elements .Flowers1 {
    pointer-events: none;
    position: absolute;
    margin-top: -580px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .elements .Flowers2 {
    pointer-events: none;
    position: absolute;
    margin-top: -145px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }

  .elements .Cloud1 {
    pointer-events: none;
    position: absolute;
    margin-top: -25px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .elements .Cloud2 {
    pointer-events: none;
    position: absolute;
    margin-top: -20px;
    left: 0;
    width: 100%;
    height: auto;
  }

  .footer .footertext {
    color: var(--Text, #fbf9f9);
    text-align: center;
    margin-top: 900px;
    margin-bottom: 0;

    /* TextShadow */
    text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
    font-family: "Source Sans 3";
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }
}

/*md*/
@media (min-width: 768px) {
}

/*lg*/
@media (min-width: 1024px) {
}

/*xl*/
@media (min-width: 1280px) {
}

/*2xl*/
@media (min-width: 1536px) {
}
