body {
  background-color: #ff7891;
}

.subtitle {
  color: var(--Text, #fbf9f9);
  text-align: center;
  margin-top: 90px;
  margin-bottom: 10px;

  /* TextShadow */
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  font-family: "Pacifico";
  font-size: 11vw;
  font-style: normal;
  font-weight: 400;
  line-height: 97.001%; /* 174.603px */
}

.underSub {
  color: var(--Text, #fbf9f9);
  text-align: center;
  margin-top: 0px;
  margin-bottom: -100px;

  /* TextShadow */
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  font-family: "Source Sans 3";
  font-size: 3vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.flowers img {
  pointer-events: none;
  position: absolute;
  margin-top: -160px;
  left: 0;
  width: 100%;
  height: auto;
}

.clouds img {
  pointer-events: none;
  position: absolute;
  margin-top: 10px;
  left: 0;
  width: 100%;
  height: auto;
}

.footertext {
  color: var(--Text, #fbf9f9);
  text-align: center;
  margin-top: 1150px;
  margin-bottom: -100px;

  /* TextShadow */
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  font-family: "Source Sans 3";
  font-size: 3vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
